
@font-face {
  font-family: 'Fonticons';
  src: url('Fonticons.eot?#iefix') format('embedded-opentype'),  url('Fonticons.woff') format('woff'), url('Fonticons.ttf')  format('truetype'), url('Fonticons.svg#Fonticons') format('svg');
  font-weight: normal;
  font-style: normal;
}
